﻿*{font-size:14px; font-family:微软雅黑}

.datagrid-cell{
    font-size:14px;
	font-family:'微软雅黑';
  }
		
#id_accordion ul{list-style-type:none;margin:0px; padding:10px;}

#id_accordion ul li{margin-top:3px; height:28px;line-height:28px;}

.hover{border:1px dashed #99BBE8; background:#E0ECFF; cursor:pointer;color:#416AA3; text-decoration:none;}

#id_accordion ul li.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}

#id_accordion ul li.selected a{color:#416AA3; font-weight:bold;}

.icon{ background:url(/static/images/tabicons.png) no-repeat;width:18px;line-height:18px; display:inline-block;}

.icon_new{ background:url(/static/images/icon/user.png) no-repeat;width:18px; line-height:18px; display:inline-block;}

.icon-key{
	background:url(/static/images/icon/key.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-user{
	background:url(/static/images/icon/user.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-house{
	background:url(/static/images/icon/house.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-book{
	background:url(/static/images/icon/book.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}
.icon-word{
	background:url(/static/images/icon/page_word.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}
.icon-page-attach{
	background:url(/static/images/icon/page_attach.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-box{
	background:url(/static/images/icon/box.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-chart{
	background:url(/static/images/icon/chart_bar.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-upload{
	background:url(/static/images/icon/arrow_up.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-page-white-excel{
	background:url(/static/images/icon/page_white_excel.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-arrow-up{
	background:url(/static/images/icon/arrow_up.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}

.icon-arrow-down{
	background:url(/static/images/icon/arrow_down.png) no-repeat;width:18px; line-height:18px; display:inline-block;
}