<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" /> -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>宜家后台系统</title>
    
	<script type="text/javascript" src="/static/js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/default.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    
    <script>
		function search_activity_by_marketid()
		{
			var marketid = $("#id_market").combobox('getValue');
			location.href = "/activity/?marketid=" + marketid;
			/*
			$.ajax({
				async:true,
				url:'/activity/',
				type:'POST',
				data:{marketid:marketid},
				success:function(data){
					if(eval("("+data+")").status == 0)
					{
						$.messager.alert('删除失败',eval("("+data+")").msg,'warning');
					}
					else
					{
						$("#dg_market").datagrid('deleteRow', getRowIndex(target));
					}
				}
			});
			
			*/
		}

		$(function(){
		
			//权限设置：
			var permissionid = $("#session_permissionid",parent.document).html();
			if(permissionid == 1)
			{
				$("#id_update_activity").show();
			}
			if(permissionid == 2)
			{
				//禁用商场下拉列表
				$("#id_market").attr('disabled',true);
				//隐藏查询按钮
				$("#search_activity_by_market").hide();
				$("#id_update_activity").show();
			}
			if(permissionid == 3)
			{
				//禁用商场下拉列表
				$("#id_market").attr('disabled',true);
				//隐藏查询按钮
				$("#search_activity_by_market").hide();
				//普通员工不能更新活动
				//$("#id_update_activity").hide();
				$("input[name=content]").attr('disabled',true);
				$("#activity_image_div").hide();
				$(".easyui-datebox").datebox({disabled:true});
			}
			
			$("#id_market").combobox({
				url:'/market_list_with_all/',
				valueField:'market_value',
				textField:'market_text',
				editable:false,
				onLoadSuccess:function(){
					var data = $("#id_market").combobox('getData');
					if(data.length > 0)
					{
						$("#id_market").combobox('select','{{marketid}}');
					}
				},
				onSelect:function(record){
					if(record.market_value == "all")
					{
						$("#search_activity_by_market").attr("disabled",true);
					}
					else
					{
						$("#search_activity_by_market").attr("disabled",false);
					}
				}
			});
			
			$("#id_activity_form").form({
				url:"/update_activity/",
				onSubmit: function(){
					if(!$("#id_activity_form").form('validate')){						
						return false;
					}
					if(!$("input[name=content]").val())
					{
						$.messager.alert('提示信息','请填写活动内容！','warning'); 
						return false;
					}
					if(!$("input[name=image1]").val())
					{
						//$.messager.alert('提示信息','请上传活动图片','warning'); 
						/*
						$.messager.defaults = { ok: "是", cancel: "否" };
						$.messager.confirm('系统提示', '没有上传图片，您确认使用当前活动的图片吗?',function(r) {
							if (r) {
								location.href = '../logout/';
							}
						});
						*/
					}
					begintime = $("input[name=begintime]").val();
					endtime = $("input[name=endtime]").val();
					if(!begintime || !endtime || endtime < begintime)
					{
						$.messager.alert('提示信息','请填写活动时间，且结束时间必须晚于开始时间！','warning'); 
						return false;
					}
				},
				success: function(response){
					var response = eval('(' + response + ')'); 
					if(response.status == 0)
						$.messager.alert('提示信息',response.msg,'error'); 
					else	
					{
						//$.messager.show({title:'提示',msg:'新活动设置成功！'});
						$.messager.alert('提示信息','新活动设置成功！','info'); 
						$.messager.alert('提示信息','新活动设置成功！','info',function(){
							marketid = $("#id_market").combobox('getValue');
							location.href = "/activity/?marketid=" + marketid;
						}); 
						//alert('ddd');
						//marketid = $("#id_market").combobox('getValue');
						//location.href = "/activity/?marketid=" + marketid;
						//$.messager.show({title:'提示',msg:'新活动设置成功！'});
					}
				}				
			});
			

		});
    </script>
</head>
<body> <!--style="padding-left:150px" -->
<form id="id_activity_form" method="post" enctype="multipart/form-data">  
	<div class="easyui-panel" title="设置商场活动" style="padding-top:15px;padding-left:30px;padding-bottom:60px">
   		<div style="margin-bottom:20px">
            商场:&nbsp;&nbsp;
			<input id="id_market" name="marketid" >&nbsp;&nbsp;
			<input id="search_activity_by_market" type="button" onclick="javascript:search_activity_by_marketid()" value="查询">
        </div>
        <div style="margin-bottom:20px">
            活动内容:&nbsp;&nbsp;
            <input name="content" class="easyui-textbox" maxlength=20 style="width:320px" value='{{content}}' />&nbsp;&nbsp;<font color='#CA0D0D'>(不可超过20字)</font>
        </div>
        <div style="margin-bottom:20px">
            <div>当前活动图片:</div>
            <img src="/media/activity/{{image1}}" height="400px" />
        </div>
        <div id='activity_image_div' style="margin-bottom:20px">
            <div>活动图片:<font color='#CA0D0D'>（图片大小为388X546最佳）</font></div>
            <input type="file" name="image1" style="width:680px">
            <input type="hidden" name="default_image" value="{{image1}}"> 
        </div>
		<!--
        <div style="margin-bottom:20px">
            <div>活动图片2:</div>
            <input type="file" name="image2" style="width:100%">
        </div>
		-->
        <div style="margin-bottom:20px">
        	<span>开始日期:&nbsp;&nbsp;<input id="id_begintime" name="begintime" type="text" class="easyui-datebox" required="required" value="{{begintime}}"></span>
        	<span style="margin-left:30px">结束日期:&nbsp;&nbsp;<input id="id_endtime" name="endtime" type="text" class="easyui-datebox" required="required" value="{{endtime}}"></span>
       	</div>
        <div>
            <input id="id_update_activity" type="submit" value='提交新活动' href="#" style="width:200px;display:none"/>
        </div>
    </div>
</form>
</body>
</html>