<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" /> -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>宜家后台系统</title>
    
	<script type="text/javascript" src="/static/js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/default.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />

</head>
<body>
   <div id="tb" style="padding:5px;height:auto">
        <div>
            商场: 
            <input id="id_market" name="marketid" >
            <input id="search_default_design" type="button" onclick="javascript:search_default_design()" value="查询">
        </div>
    </div>
	
	<table id="dg_default_design_b" data-options="toolbar:'#tb'"></table>
    
	<div id="id_edit_design" class="easyui-window" title="编辑组合信息" style="width:500px;height:400px;padding:30px;" data-options="closable:true,
                collapsible:false,minimizable:false,maximizable:false,closed:true,modal:true,iconCls:'icon-save',shadow:true,">	
	</div>
	<script>	
		//根据配件编号查找配件，并显示在datagrid中：
		function search_default_design()
		{
			$('#dg_default_design_b').datagrid('load',{
				marketid:$("#id_market").combobox('getValue').toString()
			});
		}
			
		//查找当前的datagrid是否有正在编辑状态的行
		function has_editing_row(selector)
		{
			var bprompt = false;
			var len = $(selector).datagrid('getRows').length;
			for(var i = 0; i < len; i++)
			{
				if($(selector).datagrid('getRows')[i].editing)
				{
					bprompt = true;
					break;
				}
			}
			return bprompt;
		}
		//刷新datagrid的方法，后面要用到。
		function dg_refresh(selector){
			if(has_editing_row(selector))
			{
				$.messager.confirm('确认刷新','尚有正在编辑的数据，您确定刷新么？',function(r){
					if(r){
						$(selector).datagrid('reload').datagrid('clearSelections');	
					}
				});
			}
			else
			{
				$(selector).datagrid('reload').datagrid('clearSelections');
			}
		}
		
		//通过 inline editor 单击事件对象，获取当前行号 index 的函数
		function getRowIndex(target){
			var tr = $(target).closest('tr.datagrid-row');
			return parseInt(tr.attr('datagrid-row-index'));
		}


		function edit_default_design_b(target){	
			var index = getRowIndex(target);
			var row = $('#dg_default_design_b').datagrid('getRows')[index];
			var designid = row.designid;
			$("#id_edit_design").window("refresh","/edit_default_design_b/?designid=" + designid).window({closed:false});
		}

		function delete_default_design_b(target){
			$.messager.confirm('删除确认','您确定要删除么？<br />删除之后此组合方案将为非活跃状态。',function(r){
				if(r){
					var index = getRowIndex(target);
					var row = $('#dg_default_design_b').datagrid('getRows')[index];
					var designid = row.designid;
					$.ajax({
						async:false,
						url:'/delete_default_design_b/',
						type:'POST',
						data:{
							designid:designid,
						},
						success:function(data){
							if(eval("("+data+")").status == 0)
							{
								$.messager.alert('设置失败',eval("("+data+")").msg,'warning');
							}
							else
							{
								$("#dg_default_design_b").datagrid('deleteRow', getRowIndex(target));
							}
						}
					});	
				}
			});
		}
		
		$(function(){
			//权限设置：
			var permissionid = $("#session_permissionid",parent.document).html();
			if(permissionid == 2)
			{
				//禁用商场下拉列表
				$("#id_market").attr('disabled',true);
			}
			if(permissionid == 3)
			{
				//禁用商场下拉列表
				$("#id_market").attr('disabled',true);
			}
		
			$("#id_market").combobox({
				url:'/market_list/',
				valueField:'market_value',
				textField:'market_text',
				editable:false,
				onLoadSuccess:function(){
					var data = $("#id_market").combobox('getData');
					if(data.length > 0)
					{
						$("#id_market").combobox('select','{{marketid}}');
					}
				},
				onSelect:function(record){
					if(record.market_value == "all")
					{
						$("#search_activity_by_market").attr("disabled",true);
					}
					else
					{
						$("#search_activity_by_market").attr("disabled",false);
					}
				}
			});

			$('#dg_default_design_b').datagrid({
				title:'推荐组合方案转角柜',
				width:WidthPercent(0.97),
				height:HeightPercent(0.97),
				singleSelect:true,
				idField:'designid',
				url:'/default_design_b_data/',
				loadMsg:'组合方案数据正在载入中，请稍候……',
				fitColumns:true,
				nowrap:false,
				striped:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10,
				rowStyler:function(index,row){
					return 'color:#000';
				},
				toolbar:[
				{
					text:'<font color="#0066B3">刷新</font>',
					iconCls:'icon-reload',
					handler:function(){
						$("#dg_default_design_b").datagrid('reload').datagrid('clearSelections');	
					}
				}],
				columns:[[
					{field:'designid',title:'组合编号',width:60},
					{field:'designname1',title:'组合名称1',width:100},
					{field:'designname2',title:'组合名称2',width:100},
					{field:'cover',title:'封面图片',width:100,
						formatter:function(value,row,index){
							//下面用了一技巧，在图片URL后面带上一个随机数，这是因为当图片更新但图片名没更新时，浏览器很可能因为缓存机制而不刷新图片。
							return '<img src="/media/default_design_b/'+row.designid + '_cover.png?random=' + Math.random() +'" height="70px" alt="请上传封面" />';
						}
					},
					{field:'marketid',title:'商场编号',width:100},
					{field:'action',title:'操作',width:80,align:'center',
						formatter:function(value,row,index){
							var e = '<a href="#" onclick="javascript:edit_default_design_b(this)">编辑</a> ';
							var d = '<a href="#" onclick="javascript:delete_default_design_b(this)">删除</a> ';
							return e + d;
						}
					}
				]],
				onBeforeEdit:function(index,row){
					row.editing = true;
					$("#dg_default_design_b").datagrid('updateRow',{index:index,row:{}});
				},
				onAfterEdit:function(index,row){
					row.editing = false;
					$("#dg_default_design_b").datagrid('updateRow',{index:index,row:{}});
				},
				onCancelEdit:function(index,row){
					row.editing = false;	
					$("#dg_default_design_b").datagrid('updateRow',{index:index,row:{}});
				}
			});	
		});
	</script>
</body>
</html>