<script type="text/javascript">
	$("form").form({
		url:"/save_default_design_b/",
		onSubmit: function(){
			if(!$("form").form('validate')){						
				return false;
			}
		},
		success: function(response){
			var response = eval('(' + response + ')'); 
			if(response.status == 0)
				$.messager.alert('提示信息',response.msg,'error'); 
			else	
			{
			///*
				$("#id_edit_design").window({
					closed:true
				});
				$("#dg_default_design_b").datagrid('reload').datagrid('clearSelections');
			//*/
			}
		}				
	});
</script>


<form action="/save_default_design_b/" method="post" enctype="multipart/form-data" >
<table>
<input name="designid" type="hidden" value="{{designid}}" />
<tr><td>组合名称1</td><td><input name="designname1" maxlength=14 class="easyui-textbox" style="width:300px" data-options="required:false,missingMessage:'请输入内容'" validType="midLength[2,14]" value="{{designname1}}"></td></tr>
<tr><td>组合名称2</td><td><input name="designname2" maxlength=14  class="easyui-textbox" style="width:300px" data-options="required:false,missingMessage:'请输入内容'" validType="midLength[2,14]" value="{{designname2}}"></td></tr>
<tr><td>组合概述1</td><td><input name="designdesc1" maxlength=22 class="easyui-textbox" style="width:300px" data-options="required:false,missingMessage:'请输入内容'" validType="midLength[2,14]" value="{{designdesc1}}"></td></tr>
<tr><td></td><td><input name="designdesc2" class="easyui-textbox" maxlength=22 style="width:300px" data-options="required:false,missingMessage:'请输入内容'" validType="midLength[2,14]" value="{{designdesc2}}"></td></tr>
<tr><td>组合概述2</td><td><input name="designdesc3" class="easyui-textbox" maxlength=22 style="width:300px" data-options="required:false,missingMessage:'请输入内容'" validType="midLength[2,14]" value="{{designdesc3}}"></td></tr>
<tr><td></td><td><input name="designdesc4" class="easyui-textbox" maxlength=22 style="width:300px" data-options="required:false,missingMessage:'请输入内容'" validType="midLength[2,14]" value="{{designdesc4}}"></td></tr>
<tr><td>组合概述3</td><td><input name="designdesc5" class="easyui-textbox" maxlength=22 style="width:300px" data-options="required:false,missingMessage:'请输入内容'" validType="midLength[2,14]" value="{{designdesc5}}"></td></tr>
<tr><td></td><td><input name="designdesc6" validType="midLength[2,14]" maxlength=22 class="easyui-textbox" style="width:300px" data-options="required:false,missingMessage:'请输入内容'" value="{{designdesc6}}"></td></tr>
<tr><td>当前封面图片</td><td><img src="{{cover}}" height="200px" /></td></tr>
<tr><td>更新封面图片</td><td><input type="file" name="cover" style="width:100%""></td></tr>
<tr><td></td><td><font color='#CA0D0D'>（图片最佳尺寸为337X334）</font></td></tr>
<tr><td></td><td style="padding-top:20px;padding-left:60px;"><input type="submit" value="保存" style="text-align:center"/></td></tr>
</table>
<!--<div style="margin-top:15px;"><input type="submit" value="保存" /></div>-->
</form>