<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" /> -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>宜家后台系统</title>
    
	<script type="text/javascript" src="/static/js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/default.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
	
    <script>
		function endWith(s1,s2)  
		{  
			if(s1.length<s2.length)  
				return false;  
			if(s1==s2)  
				return true;  
			if(s1.substring(s1.length-s2.length)==s2)  
				return true;  
			return   false;  
		}
				
		//根据查找条件，定制显示在datagrid中的数据：
		function search_design_statistics_data()
		{
			$('#dg_design_list').datagrid('load',{
				marketid:$("#id_market").combobox('getValue').toString(),
				time1:$("input[name=time1]").val(),
				time2:$("input[name=time2]").val(),
				designtype:$("#designtype").combobox('getValue'),
				design_name_like:$("input[name=design_name_like]").val(),
			});
			$('#dg_design_list').datagrid('showColumn','designid');
				$('#dg_design_list').datagrid('showColumn','designname');
				$('#dg_design_list').datagrid('showColumn','tp1');
				$('#dg_design_list').datagrid('showColumn','ptp1');
				$('#dg_design_list').datagrid('showColumn','tp2');
				$('#dg_design_list').datagrid('showColumn','ptp2');				
				$('#dg_design_list').datagrid('showColumn','tp3');
				//$('#dg_design_list').datagrid('showColumn','x_percent');
				$('#dg_design_list').datagrid('showColumn','ptp3');
				//$('#dg_design_list').datagrid('showColumn','y1_percent');
				$('#dg_design_list').datagrid('showColumn','tp4');
				//$('#dg_design_list').datagrid('showColumn','z_percent');				
				$('#dg_design_list').datagrid('showColumn','ptp4');
				//$('#dg_design_list').datagrid('hideColumn','lx_percent');
				$('#dg_design_list').datagrid('showColumn','tp5');
				//$('#dg_design_list').datagrid('hideColumn','rx_percent');
				$('#dg_design_list').datagrid('showColumn','ptp5');
				//$('#dg_design_list').datagrid('hideColumn','y2_percent');
				$('#dg_design_list').datagrid('showColumn','tpall');
			$('#dg_design_list').datagrid('resize');
		}
		
		//通过 inline editor 单击事件对象，获取当前行号 index 的函数
		function getRowIndex(target){
			var tr = $(target).closest('tr.datagrid-row');
			return parseInt(tr.attr('datagrid-row-index'));
		}
		
		//点击"查看清单"时，显示的清单图片
		function show_design_image(target){
			index = getRowIndex(target);
			row = $('#dg_design_list').datagrid('getRows')[index];
			var designtype = row.designtype;
			var designid = row.designid;
			$("#id_design_image").window({
				title:'清单图片',
				draggable:false, 
				resizable:false, 
				collapsible:false, 
				minimizable:false, 
				maximizable:false, 
				closable:true,
				modal:true,
				top:100,
				width:600,
				content:"<img src='/media/" + row.designtype + "/" + row.designid + ".png?random=" + Math.random() + "' width=500 />"
			});
		}	
		
		function save_to_excel()
		{
			var data = $('#dg_design_list').datagrid('getData');
			if(data.total == 0)
			{
				$.messager.alert('提示信息','没有数据可导出。','error');
				return false;
			}
			var queryParams = $('#dg_design_list').datagrid('options').queryParams;
			queryParams.excel = "1";
			var params = "?";
			for(var param in queryParams)
			{
				temp = param + "=" + queryParams[param] + "&";
				params += temp;
			}
			uri = params.substr(0,params.length-1);
			location.href = "/design_statistics_price_data/" + uri;
		}
		
		$(function(){
			$("#search_table td").css('paddingLeft','32px').css('paddingTop','20px');
				
			//权限设置：
			var permissionid = $("#session_permissionid",parent.document).html();
			if(permissionid == 2)
			{
				$("#id_market").attr('disabled',true);
			}
			if(permissionid == 3)
			{
				$("#id_market").attr('disabled',true);
			}		
		
			$("#id_market").combobox({
				url:'/market_list/',
				valueField:'market_value',
				textField:'market_text',
				editable:false,
				onLoadSuccess:function(){
					var data = $("#id_market").combobox('getData');
					if(data.length > 0)
					{
						$("#id_market").combobox('select','{{marketid}}');
					}
				},
				onSelect:function(record){
					if(record.market_value == "all")
					{
						$("#search_activity_by_market").attr("disabled",true);
					}
					else
					{
						$("#search_activity_by_market").attr("disabled",false);
					}
				}
			});
			
			$("select[name=designtype]").combobox({
				onSelect:function(record){
					var designtype = record.value;
					if(designtype=="default_design_a")
					{
						
						var html = $("#td_design_name").andSelf();
						$("#td_design_name").remove()
						$("#td_first").before(html);
					}
					if(designtype=="default_design_b")
					{
						var html = $("#td_design_name").andSelf();
						$("#td_design_name").remove()
						$("#td_second").after(html);
					}
				}
			});

			$('#dg_design_list').datagrid({
				//title:'组合统计情况一览表',
				//width:WidthPercent(0.97),
				height:HeightPercent(0.7),
				singleSelect:true,
				idField:'designid',
				url:'/design_statistics_price_data/',
				loadMsg:'价格百分比统计数据正在载入中，请稍候……',
				//fitColumns:true,
				nowrap:false,
				striped:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:20,
				columns:[[
					{field:'designtype',title:'组合类型',width:1,hidden:true},
					{field:'marketid',title:'商场号',width:150},
					{field:'marketname',title:'商场',width:150},
					{field:'tp1',title:'0-1000数量',width:150},
					{field:'ptp1',title:'0-1000百分比',width:150},
					{field:'tp2',title:'1001-3000数量',width:150},
					{field:'ptp2',title:'1001-3000百分比',width:150},
					{field:'tp3',title:'3001-5000数量',width:150},
					{field:'ptp3',title:'3001-5000百分比',width:150},					
					{field:'tp4',title:'5001-7000数量',width:150},
					{field:'ptp4',title:'5001-7000百分比',width:150},
					{field:'tp5',title:'大于7001数量',width:150},
					{field:'ptp5',title:'大于7001百分比',width:150},
					{field:'tpall',title:'总数量',width:150}
					//*/
				]],
			});	
		});
    </script>
</head>
<body style="padding-left:0px">
	<div class="easyui-panel" style="padding-top:30px;padding-left:40px">
		<!--<form method="post">  -->
		<table id="search_table" style="margin-bottom:10px">
			<tr>
			
            <td style="margin-left:90px">商场&nbsp;&nbsp;<input id="id_market" name="marketid" ></td>
		
			<td>开始日期&nbsp;&nbsp;<input name="time1" class="easyui-datebox" data-options="required:true,editable:false," value="2014-10-10" /></td>
        	<td>结束日期&nbsp;&nbsp;<input name="time2" class="easyui-datebox" data-options="required:true,editable:false,"  value="2014-12-10" /></td>
			
        	<td></td>
			</tr>
			<tr>				
				<td>组合类型&nbsp;&nbsp;<select id="designtype" name="designtype" data-options="panelHeight:'140'">
					<option value='default_design_a'>推荐组合一字柜</option>
					<option value='default_design_b'>推荐组合转角柜</option>
					<option value='reference_design_a'>组合设计一字柜</option>
					<option value='reference_design_b'>组合设计转角柜</option>
					<option value='independent_design_a'>自主设计一字柜</option>
					<option value='independent_design_b'>自主设计转角柜</option>
				</select>
				</td>
				<td>
	        	  
				</td>
	        	<td>
					
			  </td>
	        	<td>
					
			  </td>  
			</tr>
			<tr>
				<td id="td_design_name">
					
				</td>
				<td id="td_first">
					
				</td>
				<td id="td_second">
					
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td></td><td></td><td></td>
				<td>
				<span style="margin-left:30px"><input id="id_search" type='button' value='查询' onclick="javascript:search_design_statistics_data()" /></span>
				<span style="margin-left:26px;margin-top:20px"><a href="#" class="easyui-linkbutton" iconCls="icon-page-white-excel" onclick="javascript:save_to_excel()">导出到EXCEL</a></span>
				</td>
			</tr>
			</table>

		<!--</form>-->
	</div>
	<div class="easyui-panel">
		<table id="dg_design_list"></table>
	</div>
	
	<div id="id_design_image">
	</div>
</body>
</html>