<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" /> -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>宜家后台系统</title>
    
	<script type="text/javascript" src="/static/js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/default.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />

</head>
<body>
   <div id="tb" style="padding:5px;height:auto">
        <div>
			<span>商场:  <input id="id_market" name="marketid" ></span>
            <span style="margin-left:30px">按配件编号查找:  <input id="id_search_unitid" class="easyui-textbox" style="width:300px"></span>
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="javascript:search_units()">搜索</a>
			<!--<span style="margin-left:30px"><a href="#" class="easyui-linkbutton" iconCls="icon-page-white-excel" onclick="javascript:save_to_excel()">导出到EXCEL</a></span>-->
        </div>
    </div>
	
	<table id="dg_unit" data-options="toolbar:'#tb'"></table>
    
	<script>	
		//根据配件编号查找配件，并显示在datagrid中：
		function search_units()
		{
			unitid = trim($("#id_search_unitid").val());
			$('#dg_unit').datagrid('load',{
				unitid:unitid,
				marketid:$("#id_market").combobox('getValue').toString()
			});
		}
			
		//查找当前的datagrid是否有正在编辑状态的行
		function has_editing_row(selector)
		{
			bprompt = false;
			len = $(selector).datagrid('getRows').length;
			for(var i = 0; i < len; i++)
			{
				if($(selector).datagrid('getRows')[i].editing)
				{
					bprompt = true;
					break;
				}
			}
			return bprompt;
		}
		//刷新datagrid的方法，后面要用到。
		function dg_refresh(selector){
			if(has_editing_row(selector))
			{
				$.messager.confirm('确认刷新','尚有正在编辑的数据，您确定刷新么？',function(r){
					if(r){
						$(selector).datagrid('reload').datagrid('clearSelections');	
					}
				});
			}
			else
			{
				$(selector).datagrid('reload').datagrid('clearSelections');
			}
		}
		
		//通过 inline editor 单击事件对象，获取当前行号 index 的函数
		function getRowIndex(target){
			var tr = $(target).closest('tr.datagrid-row');
			return parseInt(tr.attr('datagrid-row-index'));
		}


		function edit_unit(target){	
			if(!has_editing_row('#dg_unit')) {	
				$("#dg_unit").datagrid('beginEdit', getRowIndex(target));
			}	
		}

		function save_unit(target){
			var index = getRowIndex(target);
			var row = $('#dg_unit').datagrid('getRows')[index];
			var unitid = row.unitid
			var marketid = row.marketid
			var price = $('#dg_unit').datagrid('getEditor',{index:index,field:'price'}).target.val();
			$.ajax({
				async:false,
				url:'/unit_save/',
				type:'POST',
				data:{
					marketid:marketid,
					unitid:unitid,
					price:price
				},
				success:function(data){
					if(eval("("+data+")").status == 0)
					{
						$.messager.alert('保存失败',eval("("+data+")").msg,'warning');
					}
					else
					{
						$('#dg_unit').datagrid('endEdit', getRowIndex(target));
					}
				}
			});
		}	
		
		function cancel_unit(target){	
			$('#dg_unit').datagrid('cancelEdit', getRowIndex(target));
		}
		
		function save_to_excel()
		{
			var data = $('#dg_unit').datagrid('getData');
			if(data.total == 0)
			{
				$.messager.alert('提示信息','没有数据可导出。','error');
				return false;
			}
			var queryParams = $('#dg_unit').datagrid('options').queryParams;
			queryParams.excel = "1";
			var params = "?";
			for(var param in queryParams)
			{
				temp = param + "=" + queryParams[param] + "&";
				params += temp;
			}
			uri = params.substr(0,params.length-1);
			location.href = "/units_data/" + uri;
		}
			
		$(function(){
			//权限设置：
			var permissionid = $("#session_permissionid",parent.document).html();
			if(permissionid == 2)
			{
				//禁用商场下拉列表
				$("#id_market").attr('disabled',true);
			}
			if(permissionid == 3)
			{
				//禁用商场下拉列表
				$("#id_market").attr('disabled',true);
				//隐藏商场编辑、删除功能
				//$('#dg_unit').datagrid('hideColumn','action');
			}
			
			$("#id_market").combobox({
				url:'/market_list/',
				valueField:'market_value',
				textField:'market_text',
				editable:false,
				onLoadSuccess:function(){
					var data = $("#id_market").combobox('getData');
					if(data.length > 0)
					{
						$("#id_market").combobox('select','{{marketid}}');
						//alert($("#id_market").combobox('getValue').toString());
					}
					else
					{
						//alert('errno');
					}
				},
				onSelect:function(record){
					if(record.market_value == "all")
					{
						$("#search_activity_by_market").attr("disabled",true);
					}
					else
					{
						$("#search_activity_by_market").attr("disabled",false);
					}
				}
			});

			$('#dg_unit').datagrid({
				title:'配件价格一览表',
				width:WidthPercent(0.97),
				height:HeightPercent(0.97),
				singleSelect:true,
				idField:'unitid',
				url:'/units_data/',
				loadMsg:'配件价格数据正在载入中，请稍候……',
				fitColumns:true,
				nowrap:false,
				striped:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:20,
				rowStyler:function(index,row){
					return 'color:#000';
				},
				columns:[[
					{field:'marketid',title:'商场编号',width:1,hidden:true},
					{field:'unitid',title:'配件编号',width:60},
					{field:'unitname',title:'配件名称',width:100},
					{field:'price',title:'配件价格（元）',width:100,
						editor:{
							type:'numberbox',
							options:{
								required:true,
								min:0,
								max:100000000,
								precision:1
							}
						},
					},
					{field:'action',title:'操作',width:80,align:'center',
						formatter:function(value,row,index){
							if (row.editing){
								var s = '<a href="#" onclick="save_unit(this)">保存</a> ';
								var c = '<a href="#" onclick="cancel_unit(this)">取消</a>';
								return s+c;
							} else {
								var e = '<a href="#" onclick="javascript:edit_unit(this)">编辑</a> ';
								return e;
							}
						}
					}
				]],
				onBeforeEdit:function(index,row){
					row.editing = true;
					$("#dg_unit").datagrid('updateRow',{index:index,row:{}});
				},
				onAfterEdit:function(index,row){
					row.editing = false;
					$("#dg_unit").datagrid('updateRow',{index:index,row:{}});
				},
				onCancelEdit:function(index,row){
					row.editing = false;	
					$("#dg_unit").datagrid('updateRow',{index:index,row:{}});
				}
			});	
			
			
						//权限设置：
			var permissionid = $("#session_permissionid",parent.document).html();
			if(permissionid == 2)
			{
				//禁用商场下拉列表
				//$("#id_market").attr('disabled',true);
			}
			if(permissionid == 3)
			{
				//禁用商场下拉列表
				//$("#id_market").attr('disabled',true);
				//隐藏商场编辑、删除功能
				$('#dg_unit').datagrid('hideColumn','action');
			}
		});
	</script>
</body>
</html>